@import "tailwindcss";



@font-face {
  font-family: Bebas;
  src: url('./assets/fonts/BEBAS.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins.ttf');
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-bebas: Bebas, 'sans-serif';
  --font-poppins: Poppins, 'sans-serif';
}

